Repository navikt/bidrag-beregn-felles, pull requests merged in 2024-02, with the labels that each got.

#136 Splittet utvidet barnetrygd og småbarnstillegg i requesten til bidrag…
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/BarnetilleggPensjonService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/KontantstøtteService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SkattegrunnlagService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SmåbarnstilleggService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdOgSmåbarnstilleggService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserService.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/TestUtil.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/SmåbarnstilleggServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdOgSmåbarnstilleggServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdServiceTest.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request.json
  pom.xml
Labels: bidrag-inntekt, feature

#137 Feature/beregn forskudd
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregning.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCore.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/bo/CoreBO.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/dto/CoreDTO.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/sivilstand/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/sivilstand/service/CoreMapper.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregningTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCoreTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddPeriodeTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/sivilstand/service/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/sivilstand/service/api/BeregnForskuddApiTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/sivilstand/service/service/CoreMapperTest.kt
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel1.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel10.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel11.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel12.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel13.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel14.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel15.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel16.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel17.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel18.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel19.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel2.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel20.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel22.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel23.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel3.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel4.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel5.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel6.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel7.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel8.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel9.json
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/VersionProvider.kt
  pom.xml
Labels: bidrag-beregn-forskudd, bidrag-inntekt, feature

#140 Lagt til delberegninger og justert grunnlagsstrukturen + noe refaktor…
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/BeregnForskuddApi.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregning.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCore.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/bo/CoreBO.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/bo/Periode.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/dto/CoreDTO.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/periode/ForskuddPeriode.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapper.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/sivilstand/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/api/BeregnForskuddApiTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregningTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/PeriodisererTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddServiceTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapperTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/DtoTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/testdata/SjablonApiStub.kt
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel1.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel10.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel11.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel12.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel13.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel14.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel15.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel16.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel17.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel18.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel19.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel2.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel20.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel22.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel23.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel3.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel4.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel5.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel6.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel7.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel8.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel9.json
  pom.xml
Labels: bidrag-beregn-forskudd, feature

#141 Lagt til tester, refaktorert og justert litt på mappingen ut
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregning.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCore.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/bo/CoreBO.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/bo/Periode.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/dto/CoreDTO.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/periode/ForskuddPeriode.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapper.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/api/BeregnForskuddApiTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregningTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCoreTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddPeriodeTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/PeriodisererTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddServiceTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapperTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/DtoTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/testdata/SjablonApiStub.kt
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel_flere_perioder.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_test_barnihusstand.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_test_inntekt.json
  pom.xml
Labels: bidrag-beregn-forskudd, feature

#139 Legg til referanseliste i bidrag-inntekt respons
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/BarnetilleggPensjonService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/KontantstøtteService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SkattegrunnlagService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SmåbarnstilleggService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserService.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/api/InntektApiTest.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_referanse.json
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_referanse_2.json
Labels: bidrag-beregn-forskudd, chore, bidrag-inntekt

#144 Endret litt på sjablon-grunnlag og justert testfiler
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCore.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel1.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel10.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel11.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel12.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel13.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel14.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel15.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel16.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel17.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel18.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel19.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel2.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel20.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel22.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel23.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel3.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel4.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel5.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel6.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel7.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel8.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel9.json
  pom.xml
Labels: bidrag-beregn-forskudd, feature

#145 Gjort endring på delberegning sum inntekt og lagt til spesiallogikk f…
  bidrag-beregn-core/pom.xml
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/util/InntektUtil.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCore.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapper.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/api/BeregnForskuddApiTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregningTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapperTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/testdata/SjablonApiStub.kt
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel_mange_inntektstyper.json
  pom.xml
Labels: bidrag-beregn-forskudd, bidrag-beregn-core, feature

#149 Skal ikke summere inntekter for barnet hvis det ikke er noen inntekte…
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/inntekt/service/BeregnInntektService.kt
Labels: bidrag-beregn-core, feature

#150 Lagt inn en TODO for delberegninger
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapper.kt
Labels: bidrag-beregn-forskudd, feature
