Repository navikt/bidrag-beregn-felles, pull requests merged in 2024-04, with the labels that each got.

#169 Utvidet eksempel_request (bidrag-inntekt)
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request.json
Labels: bidrag-inntekt, feature

#171 Lagt til test på helligdager og helgedager for å bestemme cut-off dat…
  bidrag-inntekt/pom.xml
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/InntektUtil.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/util/InntektUtilTest.kt
Labels: bidrag-inntekt, feature

#174 Lagt til spesiallogikk for beregning av overgangsstønad og forenklet …
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/InntektUtil.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/api/InntektApiTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/InntektServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/testdata/StubUtils.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request.json
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_aap.json
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_alle_ytelser.json
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_overgangsstønad.json
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_referanse.json
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_referanse_2.json
  pom.xml
Labels: bidrag-inntekt, feature

#176 Regner om til årsinntekt også for underpostene til overgangsstønad
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceTest.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_overgangsstønad.json
Labels: bidrag-inntekt, feature

#177 Oppdatert mapping av skattegrunnlagsposter. Er nå i samsvar med det s…
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/main/resources/files/mapping_kaps.yaml
  bidrag-inntekt/src/main/resources/files/mapping_ligs.yaml
Labels: bidrag-inntekt, feature

#178 Lagt til referanser i noen av testene og lagt til litt flere kommentarer
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_overgangsstønad.json
Labels: bidrag-inntekt, feature

#175 Feature/ny funksjonalitet boforhold
  bidrag-boforhold/src/main/kotlin/no/nav/bidrag/boforhold/BoforholdApi.kt
  bidrag-boforhold/src/main/kotlin/no/nav/bidrag/boforhold/dto/Dto.kt
  bidrag-boforhold/src/main/kotlin/no/nav/bidrag/boforhold/service/BoforholdServiceV1.kt
  bidrag-boforhold/src/main/kotlin/no/nav/bidrag/boforhold/service/BoforholdServiceV2.kt
  bidrag-boforhold/src/test/kotlin/no/nav/bidrag/boforhold/TestUtil.kt
  bidrag-boforhold/src/test/kotlin/no/nav/bidrag/boforhold/api/BoforholdApiTest.kt
  bidrag-boforhold/src/test/kotlin/no/nav/bidrag/boforhold/service/BoforholdServiceV1Test.kt
  bidrag-boforhold/src/test/kotlin/no/nav/bidrag/boforhold/service/BoforholdServiceV2Test.kt
Labels: feature

#179 Oppdatert dokumentasjon (README), endret til å logge på json-format ++
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  bidrag-inntekt/README.md
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/InntektUtil.kt
  bidrag-inntekt/src/main/resources/files/mapping_ytelser.yaml
  bidrag-inntekt/src/test/resources/__files/respons_kodeverk_summert_skattegrunnlag.json
Labels: documentation, bidrag-beregn-forskudd, bidrag-inntekt, feature

#180 Boforhold beregning response kilde default verdi
  bidrag-boforhold/src/main/kotlin/no/nav/bidrag/boforhold/dto/Dto.kt
Labels: feature

#181 Måneder hvor det er rapportert inntekt, men beløpet er 0, telles ikke…
  bidrag-inntekt/README.md
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceTest.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_overgangsstønad.json
Labels: documentation, bidrag-inntekt, feature

#184 Oppgrader felles versjon
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceTest.kt
Labels: bidrag-inntekt

#185 Legg til RoundingMode for å unngå ArithmeticException
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
Labels: bidrag-inntekt, bugfix

#186 Justert litt på beregning av overgangsstønad for å unngå å beregne fo…
  bidrag-inntekt/README.md
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_overgangsstønad.json
Labels: documentation, bidrag-inntekt, feature

#190 Fikset null pointer exception ifbm overgangsstønad hvis det ikke finn…
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/InntektServiceTest.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request_uten_inntekter.json
Labels: bidrag-inntekt, feature

#192 Fjernet validering av barnIHusstand-grunnlag ettersom dette kan være …
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapper.kt
Labels: bidrag-beregn-forskudd, bugfix

#195 Lagt til logikk for å levere siste 3/12 mnd ainntekt på opprinnelig v…
  bidrag-inntekt/README.md
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/InntektUtil.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/AinntektServiceTest.kt
  pom.xml
Labels: documentation, bidrag-inntekt, feature

#199 Lagt til nye avslagskoder i beregning av forskudd
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregning.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/api/BeregnForskuddApiTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregningTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddPeriodeTest.kt
  pom.xml
Labels: bidrag-beregn-forskudd, feature

#201 Feilfiks: Legg til kapitalinntekt i grunnlag
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  pom.xml
Labels: bidrag-beregn-forskudd, bugfix

#204 Lagt til avrunding av inntektsbeløp til heltall i responsen
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/BarnetilleggPensjonService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/KontantstøtteService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SkattegrunnlagService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SmåbarnstilleggService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/api/InntektApiTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/AinntektServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/InntektServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceTest.kt
Labels: bidrag-inntekt, bugfix

#207 Endret input parameter vedtakstidspunktOpprinneligVedtak til en liste…
  bidrag-inntekt/README.md
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/BarnetilleggPensjonService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/KontantstøtteService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SkattegrunnlagService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SmåbarnstilleggService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceOvergangsstønad.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/api/InntektApiTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/AinntektServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/BarnetilleggPensjonServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/InntektServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/KontantstøtteServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/SkattegrunnlagServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/SmåbarnstilleggServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/YtelserServiceTest.kt
  pom.xml
Labels: documentation, bidrag-inntekt, feature
