Repository navikt/bidrag-beregn-felles, pull requests merged in 2024-01, with the labels that each got.

#125 Overfør tester fra bidrag-beregn-forskudd-rest
  .github/workflows/release-draft.yaml
  bidrag-beregn-forskudd/pom.xml
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/consumer/wiremockstub/SjablonApiStub.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/controller/BeregnForskuddControllerIntegrationTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/dto/DtoTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/service/BeregnForskuddServiceTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/service/CoreMapperTest.kt
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel1.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel10.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel11.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel12.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel13.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel14.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel15.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel16.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel17.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel18.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel19.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel2.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel20.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel22.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel23.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel3.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel4.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel5.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel6.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel7.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel8.json
  bidrag-beregn-forskudd/src/test/resources/testfiler/forskudd_eksempel9.json
  pom.xml
Labels: bidrag-beregn-forskudd, chore

#127 Lagt til tjeneste for å levere barnetillegg fra pensjon
  .editorconfig
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/bo/Periode.kt
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/periode/Periodiserer.kt
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/util/InntektUtil.kt
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/util/PeriodeUtil.kt
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/util/SjablonUtil.kt
  bidrag-beregn-core/src/test/kotlin/no/nav/bidrag/beregn/core/periode/PeriodeValideringTest.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregning.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddCore.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/periode/ForskuddPeriode.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/BeregnForskuddService.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapper.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregningTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/TestUtil.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/service/service/CoreMapperTest.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/AinntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/BarnetilleggPensjonService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/KontantstøtteService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/SkattegrunnlagService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdOgSmåbarnstilleggService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/YtelserService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/InntektUtil.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/TestUtil.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/api/InntektApiTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/BarnetilleggPensjonServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/InntektServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/UtvidetBarnetrygdOgSmåbarnstilleggServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/tesdata/StubUtils.kt
  bidrag-inntekt/src/test/resources/testfiler/eksempel_request.json
  pom.xml
Labels: bidrag-beregn-forskudd, bidrag-beregn-core, bidrag-inntekt, feature

#131 Opprett versjon fil
  .github/workflows/publish.yaml
  .github/workflows/release-draft.yaml
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/VersionProvider.kt
  bidrag-inntekt/src/main/resources/versjon.txt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/util/VersionProviderTest.kt
Labels: bidrag-inntekt

#132 Opprett versjon fil
  .github/workflows/commit-version-file.yaml
  .github/workflows/publish.yaml
  .github/workflows/release-draft.yaml
Labels: bidrag-inntekt

#134 Lagt til versjon i responsen
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/service/InntektServiceTest.kt
  bidrag-inntekt/src/test/kotlin/no/nav/bidrag/inntekt/util/VersionProviderTest.kt
Labels: bidrag-inntekt, feature
