Repository navikt/bidrag-beregn-felles, pull requests merged in 2024-03, with the labels that each got.

#159 Endret på regel 2 og 3 (søknadsbarn bor ikke hjemme) for forskuddsber…
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregning.kt
  bidrag-beregn-forskudd/src/main/kotlin/no/nav/bidrag/beregn/forskudd/service/CoreMapper.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/api/BeregnForskuddApiTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddBeregningTest.kt
  bidrag-beregn-forskudd/src/test/kotlin/no/nav/bidrag/beregn/forskudd/core/ForskuddPeriodeTest.kt
Labels: bidrag-beregn-forskudd, feature

#161 Fødselsdato i respons api for boforhold er gjort mandatory
  bidrag-boforhold/src/main/kotlin/no/nav/bidrag/boforhold/response/Boforhold.kt
Labels: feature

#162 Lagt til logging av respons fra bidrag-inntekt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
Labels: bidrag-inntekt, feature

#163 Fiks logging av transfomer inntekter
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/service/InntektService.kt
  bidrag-inntekt/src/main/kotlin/no/nav/bidrag/inntekt/util/InntektUtil.kt
Labels: bidrag-inntekt, feature

#165 Beregnet inntekter skal alltid summere inntekter for barn
  bidrag-beregn-core/src/main/kotlin/no/nav/bidrag/beregn/core/inntekt/service/BeregnInntektService.kt
Labels: bidrag-beregn-core, feature
